* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  margin-top: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
  color: #333333;
}

body a {
  color: #000000;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (max-width: 767px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: calc(100% - 8rem);
  }
}

#header {
  height: 100px;
  background-color: #52abe3;
}

#header .header_wrapper {
  display: flex;
  height: 100%;
  width: fit-content;
  gap: 80px;
  margin: 0 auto;
}

#header .header_wrapper .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#header .header_wrapper .logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 70px;
}

#header .header_wrapper .highlight_menu {
  width: calc(100% - 50px);
}

#header .header_wrapper .highlight_menu ul.menu {
  height: 100%;
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 48px;
}

#header .header_wrapper .highlight_menu ul.menu > li {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .header_wrapper .highlight_menu ul.menu > li a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

#header .header_wrapper .highlight_menu ul.menu > li ul.sub-menu {
  background-color: white;
  position: absolute;
  text-align: left;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  top: 90%;
  left: 50%;
  min-width: 200px;
  transform: translateX(-50%);
  transition: 0.3s all ease;
  box-shadow: 0 0 5px grey;
}

#header .header_wrapper .highlight_menu ul.menu > li ul.sub-menu li {
  transition: 0.3s all ease;
}

#header
  .header_wrapper
  .highlight_menu
  ul.menu
  > li
  ul.sub-menu
  li:first-child:after {
  content: "";
  width: 100%;
  height: 12px;
  background-color: transparent;
  position: absolute;
  top: -12px;
  left: 0;
}

#header
  .header_wrapper
  .highlight_menu
  ul.menu
  > li
  ul.sub-menu
  li:first-child:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
  left: calc(50% - 10px);
  transition: 0.3s all ease;
}

#header .header_wrapper .highlight_menu ul.menu > li ul.sub-menu li a {
  display: block;
  font-size: 16px;
  font-family: "Poppins", serif;
  font-weight: lighter;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  transition: 0.3s all ease;
}

#header .header_wrapper .highlight_menu ul.menu > li ul.sub-menu li:hover {
  background-color: #333333;
}

#header .header_wrapper .highlight_menu ul.menu > li ul.sub-menu li:hover a {
  color: white;
}

#header
  .header_wrapper
  .highlight_menu
  ul.menu
  > li
  ul.sub-menu
  li:hover:before {
  border-bottom: 12px solid #333333;
}

#header .header_wrapper .highlight_menu ul.menu > li:hover ul.sub-menu {
  max-height: 1000px;
  opacity: 1;
  visibility: visible;
  height: fit-content;
  width: fit-content;
}

#header .header_wrapper .highlight_menu ul.menu > li:hover ul.sub-menu li a {
  padding: 10px 20px;
}

#footer {
  background: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
}

#footer a {
  color: #52abe3;
  text-decoration: none;
  transition: 0.3s all ease;
}

#footer a:hover {
  scale: 1.2;
  transform-origin: center;
}

#footer .social {
  width: 82px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#footer .privacy-policy {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 0.6rem;
}

#footer .privacy-policy .policy-title {
  margin: 0 10px;
}

#footer .preferenze-cookie {
  margin: 10px;
  font-size: 0.6rem;
}

#footer .last--row {
  text-align: center;
  font-size: 0.8rem;
  color: #52abe3;
}

#footer .last--row .developer i {
  padding: 0 0.5rem;
}

.swiper {
  width: 600px;
  height: 300px;
}
