#footer {
  background: $sectionDarkColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px;
  color: $light-color;

  a {
    @include linkStyle($primary-color);

    &:hover {
      scale: 1.2;
      transform-origin: center;
    }
  }

  .social {
    width: 82px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  .privacy-policy {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: $fontSizeSmall;

    .policy-title {
      margin: 0 10px;
    }
  }

  .preferenze-cookie {
    margin: 10px;
    font-size: $fontSizeSmall;
  }

  .last--row {
    .developer {
      margin: 20px 0;
      i {
        padding: 0 0.5rem;
      }
    }

    text-align: center;
    font-size: $fontSize;
    color: $primary-color;
  }
}
