// Link non evidenziati al click
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  margin-top: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: $firstFont !important;
  color: $fontColor;

  a {
    color: $titleColor;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  @include ul_reset();
}

.container {
  @include container();
}

.section {
  scroll-margin: 50px;

  &.default {
    background-color: $sectionDefaultColor;
  }

  &.light {
    background-color: $sectionLightColor;
    padding-top: 80px;

    @include media_Mobile() {
      padding-top: 60px;
    }
  }

  &.dark {
    background-color: $sectionDarkColor;
    padding-top: 80px;

    @include media_Mobile() {
      padding-top: 60px;
    }
  }

  &.light + .section,
  &.dark + .section {
    padding-top: 80px;

    @include media_Mobile() {
      padding-top: 60px;
    }
  }

  &.has_iframe {
    iframe {
      @include iframeAdaptation();
    }
  }
  & + .section {
    padding-bottom: 80px;

    @include media_Mobile() {
      padding-bottom: 60px;
    }
  }
}

.hidden {
  opacity: 0;
}

.the_title {
  color: $primary-color;
  font-size: $fontSizeXL;
  font-weight: bolder;
  text-shadow: $shadowDark;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: $lineHeightTitle;

  @include media_Mobile() {
    font-size: $fontSizeTitleSmall;
  }
}

.the_subtitle {
  text-align: center;
  text-transform: uppercase;
  font-family: $secondFont;
  font-size: $fontSizeMedium;
  font-weight: bold;
  margin-bottom: 60px;
  line-height: $lineHeightTitle;

  @include media_Mobile() {
    font-size: $fontSize;
    margin-bottom: 40px;
  }
}

.section_title {
  color: $primary-color;
  font-size: $fontSizeTitle;
  font-weight: bolder;
  text-shadow: $shadowDark;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;

  @include media_Mobile() {
    font-size: $fontSizeTitleMobile;
    margin-bottom: 40px;
  }
}

.has_iframe {
  .section_title {
    margin-bottom: 40px;
  }
}

.prev_title {
  font-family: $secondFont;
  font-size: $fontSizeLarge;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: $lineHeightTitle;

  @include media_Mobile() {
    font-size: $fontSize;
    margin-bottom: 20px;
  }
}

.description,
.the_content,
p {
  line-height: $lineHeight;
  font-family: $secondFont;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  @include media_Phone() {
    width: 100%;
  }
}

.btn_internal {
  @include btn();
}

.btn_external {
  @include btn_extrenal();
}

.btn_pdf {
  @include btn_pdf();
}

#prossima_partita,
.prossima_partita {
  position: relative;
  overflow: hidden;

  &:after {
    content: url(../img/svg/soccer-ball-svgrepo-com.svg);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 70px;
    left: 0;
    opacity: 0.2;
    z-index: -1;
    scale: 3.5;
  }
}

// Back to top
.btt {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 15px;

  &:hover {
    cursor: pointer;
  }

  span {
    &:after {
      content: "\f077";
      font-family: "Font Awesome 6 Free";
      font-weight: bold;
      color: $secondary-color;
      padding: 20px;
      background-color: $bodyBg;
      border-radius: $radius;
      border: 1px solid $primary-color;
    }
  }
}
