.single-post {
  #main_content {
    & + #sponsor {
      padding-top: 80px;

      @include media_Mobile() {
        padding-top: 0;
      }
    }

    display: flex;

    @include media_Mobile() {
      flex-direction: column;
    }

    .thumb {
      @include media_AllDesktop() {
        width: 40%;
        max-height: 85vh;
      }

      @include media_Mobile() {
        aspect-ratio: unset;
      }

      img {
        @include objectfit_image();
        @include media_AllDesktop() {
          border-radius: $radius;
          box-shadow: 10px 20px 15px #333;
        }
      }
    }

    .post_content {
      padding: 40px 25px;
      display: flex;
      flex-direction: column;

      @include media_AllDesktop() {
        width: 55%;
        padding: 80px 0 80px 100px;
      }

      @include media_Mobile() {
        justify-content: center;
        align-items: center;
      }

      @include media_Phone() {
        padding: 30px 0;
      }

      .categories_wrap {
        display: flex;
        font-size: $fontSizeMedium;
        font-weight: bold;

        @include media_Phone() {
          font-size: $fontSize;
          flex-wrap: wrap;
        }

        .category_link {
          padding-bottom: 40px;
          @include media_Phone() {
            padding-bottom: 10px;
          }
        }

        .separator {
          padding: 0 15px;
          &:after {
            content: "\f1e3";
            font-size: 10px;
            font-family: "Font Awesome 6 Free";
            color: #dadadd;
            position: relative;
            bottom: 2px;
          }
          &:last-child {
            display: none;
          }
        }
      }
      .post_date {
        font-style: italic;
        font-size: $fontSize;
        color: $medium-color;
        margin-bottom: 20px;
      }

      .the_title {
        font-size: $fontSizeTitle;
        text-align: left;

        @include media_Laptop() {
          font-size: $fontSizeTitleMedium;
          margin-bottom: 20px;
        }

        @include media_Phone() {
          font-size: $fontSizeTitleSmall;
        }
      }

      .btns_wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
        margin-top: 40px;

        @include media_Mobile() {
          align-items: center;
        }

        // AddToAny
        .addtoany_list a,
        .widget .addtoany_list a {
          display: inline-flex;
        }

        .btn {
          @include btn();
        }
      }
    }
  }
}
