#main_slideshow {
  & + .section {
    padding-top: 80px;
    padding-bottom: 80px;

    @include media_Mobile() {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  & + p {
    height: 2000px;
  }

  &.full_height {
    height: $slideshowHeight;

    @include media_Mobile() {
      height: $slideshowHeightMobile;
    }
  }

  &.partial_height {
    height: $slideshowHeight;
    @include media_DesktopLarger() {
      height: $partialSlideshowHeight;
    }
  }

  &.contain_image.partial_width {
    .swiper .swiper-slide img.slideshow_img {
      border-radius: 0 0 $radius $radius;

      @include media_Mobile() {
        border-radius: 0;
      }
    }

    @include media_Mobile() {
      &.container {
        padding: 0;
      }
    }
  }

  .swiper {
    height: 100%;
    width: 100%;

    .swiper-slide {
      position: relative;

      &:before {
        @include overlay();
      }

      img.slideshow_img {
        @include objectfit_image;
      }

      .caption_box {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        position: absolute;
        z-index: 50;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        @include transition();

        @include media_Mobile() {
          width: 100%;
        }

        img.slideshow_logo {
          width: 130px;
          height: auto;
          border-radius: 6px;
          @include media_DesktopLarger() {
            width: 200px;
          }
        }

        .slideshow_caption {
          color: $light-color;
          font-size: $fontSizeXL;
          font-weight: bold;
          font-family: $secondFont;
          text-align: center;

          @include media_DesktopLarger() {
            font-size: $fontSizeXXL;
          }

          @include media_Mobile() {
            font-size: $fontSizeTitle;
          }

          @include media_Phone() {
            font-size: $fontSizeTitleMedium;
          }
        }
      }
    }

    .swiper-pagination {
      bottom: 30px;
      .swiper-pagination-bullet {
        border: 2px solid $light-color;
        width: 12px;
        height: 12px;
        background: $light-color;
      }
    }
    .swiper-button-prev {
      left: 30px;
    }

    .swiper-button-next {
      right: 30px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: $light-color;
      opacity: 0.3;
      @include transition();

      @include media_Mobile() {
        display: none;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
