#sponsor {
  .sponsor_slider {
    background-color: $light-color;
    border-radius: $radius;
    padding: 10px 0;
    box-shadow: $box-shadow;

    &.main_sponsor_logo {
      padding: 40px;
    }
  }

  .sponsor_section {
    padding-bottom: 150px;
    @include media_Mobile() {
      padding-bottom: 80px;
    }
    .sponsor_title {
      @include media_AllDesktop() {
        margin-bottom: 60px;
      }
    }

    .home & {
      &:last-child {
        padding-bottom: 80px;

        @include media_Mobile() {
          padding-bottom: 40px;
        }
      }
    }
  }

  #main_sponsor {
    .main_sponsor_logo {
      display: block;
      @include media_ExcludePhone() {
        max-width: 50%;
        height: auto;
        margin: 0 auto;
      }

      @include media_Phone() {
        max-width: 90%;
        height: auto;
        margin: 0 auto;
      }

      img {
        @include objectfit_image;
      }
    }
  }

  #official_sponsor {
    .page-template-template-sponsor & {
      max-width: 90%;
      margin: 0 auto;

      .logos_wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px 60px;

        @include media_Mobile() {
          gap: 30px 40px;
        }

        .official_sponsor_logo {
          max-width: calc((100% - 120px) / 3);

          @include media_Mobile() {
            max-width: calc((100% - 80px) / 3);
          }

          @include media_Phone() {
            max-width: calc((100% - 40px) / 2);
          }

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .swiper-wrapper {
      transition-timing-function: linear;

      .swiper-slide {
        height: 110px;

        @include media_Phone() {
          height: 50px;
        }

        .official_sponsor_logo {
          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
    }
  }

  #official_partners {
    .page-template-template-sponsor & {
      max-width: 80%;
      margin: 0 auto;

      .logos_wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 60px;

        @include media_Mobile() {
          gap: 40px;
        }

        .official_partner_logo {
          max-width: calc(100% / 5 - 240px / 5);

          @include media_Mobile() {
            max-width: calc(100% / 5 - 160px / 5);
          }

          @include media_Phone() {
            max-width: calc(100% / 3 - 80px / 3);
          }

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .swiper-wrapper {
      transition-timing-function: linear;

      .swiper-slide {
        height: 100px;

        @include media_Phone() {
          height: 70px;
        }

        .official_partner_logo {
          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
    }
  }
}
