$firstFont: "Montserrat", sans-serif;
$secondFont: "Poppins", serif;

$fontSizeSmall: 14px;
$fontSize: 16px;
$fontSizeMedium: 18px;
$fontSizeSubtitle: 20px;
$fontSizeLarge: 24px;
$fontSizeTitleMobile: 26px;
$fontSizeTitleSmall: 32px;
$fontSizeTitleMedium: 40px;
$fontSizeTitle: 48px;
$fontSizeXL: 64px;
$fontSizeXXL: 80px;

$lineHeight: 160%;
$lineHeightTitle: 150%;

$bodyBg: #fff;
$light-color: white;
$medium-color: grey;
$dark-color: black;
$primary-color: #52abe3;
$primary-opaque: rgba(82, 171, 227, 0.9);
$primary-max-opaque: rgba(82, 171, 227, 0.5);
$secondary-color: #c9c8c8;
$borderColor: #dadadd;
$hoverColor: #333333;
$highlightColor: red;
$fontColor: #333333;
$sectionDefaultColor: rgb(255, 255, 255, 0.7);
$sectionLightColor: rgb(238, 237, 234, 0.7);
$sectionDarkColor: #333333;
$titleColor: #000000;
$titleSpacing: 0.03rem;

$sectionWidth: calc(100% - 8rem);

$sliderHeight: calc(100vh - 130px);

$headerHeight: 130px;
$headerHeightFixed: 100px;
$mobileHeaderHeight: 130px;

$slideshowHeight: calc(100vh - $headerHeight);
$partialSlideshowHeight: calc(75vh - $headerHeight);
$slideshowHeightMobile: calc(100vh - $mobileHeaderHeight);

$shadow: $primary-color 4px 4px;
$shadowDark: 1px 1px 2px black;
$shadowPrimary: 1px 1px 2px $primary-color;
$newsImgShadow: 10px 20px 15px #333;
$giocatoriShadow: 5px 5px 0px $primary-color;

$sectionMaxWidth: 1360px;

$postsGridGap: 40px;

$radius: 6px;

@mixin container() {
  margin-right: auto;
  margin-left: auto;
  padding-right: 5rem;
  padding-left: 5rem;
  max-width: $sectionMaxWidth;

  @include media_Phone() {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@mixin header_container() {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  max-width: $sectionMaxWidth;

  @include media_Phone() {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @include media_DesktopLarger() {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@mixin ul_reset() {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    a {
      text-decoration: none;
    }
  }
}

@mixin objectfit_image() {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin linkStyle($color: false) {
  @if ($color) {
    color: $color;
  } @else {
    color: $fontColor;
  }
  text-decoration: none;
  transition: 0.3s all ease;
}

@mixin arrowLink($color: false, $size: false) {
  @if ($color) {
    color: $color;
  } @else {
    color: $primary-color;
  }

  @if ($size) {
    font-size: $size;
  } @else {
    font-size: $fontSize;
  }

  text-transform: lowercase;

  &:after {
    content: "\f0a9";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-left: 10px;
    @if ($color) {
      color: $color;
    } @else {
      color: $primary-color;
    }
    @if ($size) {
      font-size: calc($size / 100 * 80);
    } @else {
      font-size: calc($fontSize / 100 * 80);
    }
  }
}

@mixin overlay($opacity: 0.4) {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  background: transparent linear-gradient(180deg, #000 0%, #0000 100%) 0% 0%
    no-repeat padding-box;
  opacity: $opacity;
}

@mixin transition($elements: all, $interval: 0.3s, $ease: ease-in-out) {
  transition: $elements $interval $ease;
}

@mixin iframeAdaptation() {
  width: 102%;
  margin: 0 -1%;
}

@mixin btn(
  $color: $light-color,
  $backgorund: $primary-color,
  $border: 2px solid $primary-color,
  $hoverColor: $primary-color,
  $hoverBackground: transparent,
  $hoverBorder: 2px solid $primary-color
) {
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  a {
    display: inline-block;
    border-radius: 30px;
    width: 100%;
    padding: 10px 25px;
    color: $color;
    background: $backgorund;
    border: $border;
    font-family: $secondFont;
    text-transform: capitalize;
    @include transition();

    &:hover {
      color: $hoverColor;
      background: $hoverBackground;
      border: $hoverBorder;
    }
  }
}

@mixin btn_extrenal() {
  @include btn(
    $color: $primary-color,
    $backgorund: $light-color,
    $border: 2px solid $primary-color,
    $hoverColor: $light-color,
    $hoverBackground: $primary-color,
    $hoverBorder: 2px solid $primary-color
  );
}

@mixin btn_pdf() {
  @include btn_extrenal();

  .btn_icon {
    &::before {
      content: "\f1c1";
      font-family: "Font Awesome 6 Free";
      margin-right: 10px;
      color: #52abe3;
      font-size: 20px;
    }
  }

  a:hover {
    .btn_icon {
      &::before {
        color: $light-color;
      }
    }
  }
}
